Most-affordable/n8n-inform-webhook.json
{
  "name": "Inform Requester - Send Instagram DM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inform-requester",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook - Inform Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "inform-requester"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $json.body.instagram_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAANa0RPdJZCZABZAFoxdUIzSjUzSnZAFYk54UTQ0LVRNSGtubHZAEajJFejR3ZAUNDTmQ2ZA2tfazJwZAjg3U0ZALM2huUEZABb0NOejJJT1pKcTF3TmVuVHpXLVJ5VWFzNTl3UkZAUTjlxQmdNZADdQTHhsOEtpN1ZAzZA2RaRFBlc05HUXBDTQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"recipient\": {\n    \"id\": $json.body.instagram_id\n  },\n  \"message\": {\n    \"text\": $json.body.message\n  }\n}\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Send Instagram DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"instagram_id\": $('Webhook - Inform Trigger').item.json.body.instagram_id }",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Inform Trigger": {
      "main": [
        [
          {
            "node": "Send Instagram DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instagram DM": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "812e57160b6cfa0488283afdc6a904b27f91c8dd7755e053008327f19ff2ef3d"
  }
}
