Most-affordable/n8n.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const rawMsg = $input.item.json.aiInput || '';\nconst bikeIdMatch = rawMsg.match(/\\bBK-\\d+\\b/i);\n\nif (bikeIdMatch) {\n  return [{ action: 'search_db', action_param: bikeIdMatch[0].toUpperCase(), reply_to_user: 'Searching...' }];\n}\n\nreturn [{ action: 'none', action_param: '', reply_to_user: 'Hey , veetile vandi here..... hope your doing well😊\\n\\n1. Bike nte details aryan \"BIKE ID\" ayakkuka (eg: bk-2)\\n\\n2. Bike request cheyyan njangalude website il kayari \"REQUEST BIKE\" option upayokikkam (we prioritize people requested before uploading video)\\n\\n3. our website : \"most-affordable.vercel.app\"\\n\\nThanks for choosing us🫂' }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        80
      ],
      "id": "7563b441-0b14-45f4-a322-eb34d79c5c89",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "return [$input.item.json];"
      },
      "id": "18de9041-914a-4684-971c-2b1afaba66a9",
      "name": "Parse JSON Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "search_db",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        80
      ],
      "id": "5695fb07-84f6-4486-a542-9df5fe6beaeb",
      "name": "If Search DB1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-2",
              "leftValue": "={{ $json.action }}",
              "rightValue": "save_request",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        256
      ],
      "id": "00dad7c1-f363-41aa-b4da-6ef51d43d795",
      "name": "If Save Request1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "bikes",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Parse JSON Output1').item.json.action_param }}"
            }
          ]
        }
      },
      "id": "517b14c3-9611-4ee9-b331-95cb225ff8f0",
      "name": "Supabase Fetch1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        -128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "qyF8f4qEW2UoP8fY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=System:\nYou are a classic AI assistant for a premium bike dealership. Use max ONE emoji.\nIf Database Result contains an available bike:\nList its details EXACTLY in this format:\nBrand : [Make]\nModel : [Model]\nPrice : ₹[Price]\nColor : [Color]\nYear : [Year]\nKM : [KM]\nThen, politely provide the direct website link to view photos: https://most-affordable.vercel.app/bike/[THE_BIKE_ID].\nEnd your message with: 'Checkout our website for more details and to request vehicles: https://most-affordable.vercel.app/'\n\nIf Database Result is empty or the bike is SOLD:\nApologize politely, explain it is not available, and invite them to browse vehicles on https://most-affordable.vercel.app/.\n======\nDatabase Search Result: {{ JSON.stringify($json) }}"
      },
      "id": "e42ae949-94b8-4567-b434-77980304d06a",
      "name": "Format DB Result1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        0,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "return { output: $input.item.json.text || $input.item.json.output || 'Processing Error: AI did not return text.' };"
      },
      "id": "7fb02dae-e42c-431d-a89d-62b6cb87b0fe",
      "name": "Format DB Output UI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -128
      ]
    },
    {
      "parameters": {
        "tableId": "requests",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.action_param }}"
            },
            {
              "fieldId": "instagram_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.body.entry[0].messaging[0].sender.id }}"
            },
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.body.entry[0].messaging[0].sender.id }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "insta"
            },
            {
              "fieldId": "seen",
              "fieldValue": "=false"
            },
            {
              "fieldId": "bike_name",
              "fieldValue": "={{ $json.action_param.split(' - Ph:')[0].trim() }}"
            },
            {
              "fieldId": "contact",
              "fieldValue": "={{ ($json.action_param.split('Ph:')[1] || '').trim() }}"
            }
          ]
        }
      },
      "id": "407581dd-59cd-42ce-b4d2-db4e5fecd87b",
      "name": "Supabase Insert Request1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        64,
        160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qyF8f4qEW2UoP8fY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reply = $('Parse JSON Output1').item.json.reply_to_user || 'Your request has been saved!';\nreturn { output: reply + '\\n\\n✅ Checkout our website for more details and to request vehicles:\\nhttps://most-affordable.vercel.app/' };"
      },
      "id": "00e9a76f-0741-40e3-9173-24206af004e9",
      "name": "Format Save Output UI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "return { output: $('Parse JSON Output1').item.json.reply_to_user || 'Something went wrong.' };"
      },
      "id": "3bd97f35-c20b-4df4-8c01-8fcd330f78e7",
      "name": "Format Normal Output UI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('When Executed by Another Workflow').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAANa0RPdJZCZABZAFoxdUIzSjUzSnZAFYk54UTQ0LVRNSGtubHZAEajJFejR3ZAUNDTmQ2ZA2tfazJwZAjg3U0ZALM2huUEZABb0NOejJJT1pKcTF3TmVuVHpXLVJ5VWFzNTl3UkZAUTjlxQmdNZADdQTHhsOEtpN1ZAzZA2RaRFBlc05HUXBDTQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"recipient\": {\n    \"id\": $('When Executed by Another Workflow').item.json.body.entry[0].messaging[0].sender.id\n  },\n  \"message\": {\n    \"text\": $json.output\n  }\n}\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        64
      ],
      "id": "95651396-20ef-481c-9ba6-6f336f7367b8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"type\": \"DM\",\n  \"aiInput\": \"{{$json.body.entry[0].messaging[0].message.text}}\",\n  \"senderId\": \"{{$json.body.entry[0].messaging[0].sender.id}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        -16
      ],
      "id": "695078ec-9793-4db1-bc42-0040f6746b34",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{\n  $json.body.entry?.[0]?.changes?.[0]?.field === \"comments\"\n    ? 0\n    : (\n        $json.body.entry?.[0]?.messaging?.[0]?.message?.text &&\n        !$json.body.entry?.[0]?.messaging?.[0]?.message?.is_echo\n      )\n      ? 1\n      : 2\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2064,
        -32
      ],
      "id": "af54e692-773d-4cfa-8eed-bc3ba893f252",
      "name": "Switch"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2240,
        -16
      ],
      "id": "f1838929-7bdb-4ab3-8dbf-27c6ce681ec3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE",
          "mode": "list",
          "cachedResultName": "veetile_vandi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "sender_id",
              "lookupValue": "={{ $json.senderId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "90677b50-a4f7-4682-8eaf-ec227e04fc9d",
      "name": "Sheets - Read User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -1632,
        -16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BszyxYIl7V01jXJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let sheetRow = {};\ntry { sheetRow = $input.item.json || {}; } catch(e) {}\n\nconst senderId = $('Edit Fields').item.json.senderId;\nconst rawMsg = $('Edit Fields').item.json.aiInput;\n\n// If message contains a BK-ID, let the full flow handle it even if 'done'\nconst hasBikeId = /\\bBK-\\d+\\b/i.test(rawMsg);\nconst isDone = sheetRow.status === 'done' && !hasBikeId;\n\nlet aiInput = rawMsg;\nif (sheetRow.sender_id && !isDone) {\n  let ctx = '';\n  if (sheetRow.bike_searched) ctx += `User previously searched for bike: ${sheetRow.bike_searched}. `;\n  if (sheetRow.bike_requested) ctx += `User previously requested bike: ${sheetRow.bike_requested}. `;\n  if (ctx) aiInput = `[Context: ${ctx}]\\nUser message: ${rawMsg}`;\n}\n\nreturn [{ senderId, aiInput, isDone: isDone.toString(), sheetRow }];"
      },
      "id": "e6e27632-7755-4d47-96e4-3edf359696ad",
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "done-001",
              "leftValue": "={{ $json.isDone }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c0c9627e-0a4c-4c58-91af-a9ec7e72181d",
      "name": "Is Bot Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1200,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "return { output: \"Welcome back! 👋 Your previous request has been handled.\\n\\nIf you have a new Bike ID to check (e.g. BK-1, BK-23), just send it here and I'll look it up for you!\\n\\nFor a new bike request, please visit our website:\\nhttps://most-affordable.vercel.app/request\" };"
      },
      "id": "ce803a04-f6e4-43ff-9fb0-1a104fcc2a03",
      "name": "Send Website Msg (Done)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE",
          "mode": "list",
          "cachedResultName": "veetile_vandi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sender_id": "={{ $('Edit Fields').item.json.senderId }}",
            "status": "done",
            "bike_searched": "={{ $('Parse JSON Output1').item.json.action_param }}",
            "source": "insta",
            "timestamp": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "sender_id"
          ],
          "schema": [
            {
              "id": "sender_id",
              "displayName": "sender_id",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bike_searched",
              "displayName": "bike_searched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bike_requested",
              "displayName": "bike_requested",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact",
              "displayName": "contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "793f16ac-55e9-4b71-b1d4-b44a8e96b3f3",
      "name": "Sheets - Write Bike Found",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        528,
        -128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BszyxYIl7V01jXJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE",
          "mode": "list",
          "cachedResultName": "veetile_vandi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE/edit#gid=0"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sender_id": "={{ $('Edit Fields').item.json.senderId }}",
            "status": "done",
            "bike_requested": "={{ $('Parse JSON Output1').item.json.action_param.split(' - Ph:')[0].trim() }}",
            "contact": "={{ ($('Parse JSON Output1').item.json.action_param.split('Ph:')[1] || '').trim() }}",
            "source": "insta",
            "timestamp": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "sender_id"
          ],
          "schema": [
            {
              "id": "sender_id",
              "displayName": "sender_id",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bike_searched",
              "displayName": "bike_searched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bike_requested",
              "displayName": "bike_requested",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact",
              "displayName": "contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "905d89f2-d6c0-419c-81fa-d9807e727428",
      "name": "Sheets - Write Req Saved",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        512,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BszyxYIl7V01jXJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inform-requester",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a33dfe83-3a94-43fe-b59d-103326dbef8d",
      "name": "Webhook - Inform Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2240,
        160
      ],
      "webhookId": "inform-requester"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $json.body.instagram_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAANa0RPdJZCZABZAFoxdUIzSjUzSnZAFYk54UTQ0LVRNSGtubHZAEajJFejR3ZAUNDTmQ2ZA2tfazJwZAjg3U0ZALM2huUEZABb0NOejJJT1pKcTF3TmVuVHpXLVJ5VWFzNTl3UkZAUTjlxQmdNZADdQTHhsOEtpN1ZAzZA2RaRFBlc05HUXBDTQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"recipient\": {\n    \"id\": $json.body.instagram_id\n  },\n  \"message\": {\n    \"text\": $json.body.message\n  }\n}\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "07bd4408-e923-49ac-8f36-70f893480d78",
      "name": "Send Instagram DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2000,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"instagram_id\": $('Webhook - Inform Trigger').item.json.body.instagram_id }",
        "options": {}
      },
      "id": "e11e3bb6-9a80-4580-a380-9e778785c56d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1760,
        160
      ]
    },
    {
      "parameters": {
        "model": "ministral-3b-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        0,
        32
      ],
      "id": "12f0a941-2747-46ad-b663-17bba404cda1",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "0rcK32wlWzHDbCUK",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parse JSON Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Output1": {
      "main": [
        [
          {
            "node": "If Search DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Search DB1": {
      "main": [
        [
          {
            "node": "Supabase Fetch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Save Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Save Request1": {
      "main": [
        [
          {
            "node": "Supabase Insert Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Normal Output UI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Fetch1": {
      "main": [
        [
          {
            "node": "Format DB Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB Result1": {
      "main": [
        [
          {
            "node": "Format DB Output UI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB Output UI1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets - Write Bike Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert Request1": {
      "main": [
        [
          {
            "node": "Format Save Output UI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Save Output UI1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets - Write Req Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Normal Output UI1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sheets - Read User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Read User": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "Is Bot Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Bot Done?": {
      "main": [
        [
          {
            "node": "Send Website Msg (Done)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Website Msg (Done)": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Inform Trigger": {
      "main": [
        [
          {
            "node": "Send Instagram DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instagram DM": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Format DB Result1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abaad11c3e60e557df9fc051eed7931e09f7e0c88f9b24837b3a628ce3820fe2"
  }
}