Most-affordable/n8n.json
{
  "nodes": [
    {
      "parameters": {
        "sessionKey": "={{ $sessionId }}"
      },
      "id": "e7b411c8-1389-4264-90d5-e9165cc85845",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [608, 1872]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.aiInput }}",
        "options": {
          "systemMessage": "System:\nYou are a classic and standard AI assistant for a premium bike dealership. You maintain conversation with the user to help them find a bike.\nYour goal is to either find a specific bike by ID (e.g. BK-1) OR save a general request (e.g. 'Himalayan 450') if they don't have an ID.\n\nCRITICAL PROCESS FOR SAVING REQUESTS:\n1. If a user asks for a general bike (e.g. 'Is a Himalayan available?'), you MUST first ask them for their phone number to reach them at.\n2. Once they provide their phone number, you MUST ask for final confirmation (e.g. 'You need a Himalayan 450 and your number is 9876543210, is this correct?').\n3. ONLY save the request when they explicitly say yes/confirm.\n\nYou MUST ALWAYS and ONLY respond with a valid JSON object in this exact format. No markdown, no backticks, no other text:\n{\n  \"reply_to_user\": \"Your conversational reply here\",\n  \"action\": \"none\" | \"search_db\" | \"save_request\",\n  \"action_param\": \"bike_id or formatted_request_string\"\n}\n\nRules:\n- If user provides a bike ID (e.g. BK-123), set action to 'search_db', action_param to 'BK-123', reply_to_user to 'Searching'.\n- If user confirms a general request with their number, set action to 'save_request', action_param to EXACTLY '[Bike Name] - Ph: [Phone Number]', reply_to_user to 'Your request for a [Bike] has been saved and our dealership team will reach out to you shortly!'\n- Otherwise, set action to 'none', action_param to '', and set reply_to_user to your conversational response (e.g. asking for the phone number, confirming the details). Use max ONE emoji total."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [512, 1680],
      "id": "5087c2c8-e95f-47d5-94a2-a2afb1c7eafc",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "try {\n  let str = $input.item.json.output || $input.item.json.text || $input.item.json.response || '';\n  str = str.replace(/```json/ig, '').replace(/```/g, '').trim();\n  const parsed = JSON.parse(str);\n  return [parsed];\n} catch(e) {\n  return [{ reply_to_user: \"I'm sorry, I misunderstood. Could you rephrase that?\", action: \"none\", action_param: \"\" }];\n}"
      },
      "id": "c81ff627-7b8a-4029-90a4-070412de096e",
      "name": "Parse JSON Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [816, 1680]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "search_db",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1008, 1680],
      "id": "041e4f81-ebee-4016-b044-5b71615f91e8",
      "name": "If Search DB1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-2",
              "leftValue": "={{ $json.action }}",
              "rightValue": "save_request",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1232, 1968],
      "id": "23e237bf-1df2-4743-a0fa-37901f88556f",
      "name": "If Save Request1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "bikes",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Parse JSON Output1').item.json.action_param }}"
            }
          ]
        }
      },
      "id": "25fd4f41-5cb9-4510-a414-5f65648c30d1",
      "name": "Supabase Fetch1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1216, 1488],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vNTP1XgP3wsW0tiM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "941f596d-1c6b-4918-a8e6-886fb7d5ec0c",
      "name": "Google Gemini (Format DB)1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1392, 1664],
      "credentials": {
        "googlePalmApi": {
          "id": "M8x78S7HaYYge2Lz",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=System:\nYou are a classic AI assistant for a premium bike dealership. Use max ONE emoji.\nIf Database Result contains an available bike:\nList its details EXACTLY in this format:\nBrand : [Make]\nModel : [Model]\nPrice : ₹[Price]\nColor : [Color]\nYear : [Year]\nKM : [KM]\nThen, politely provide the direct website link to view photos: https://most-affordable.vercel.app/bike/[THE_BIKE_ID].\nEnd your message with: 'Checkout our website for more details and to request vehicles: https://most-affordable.vercel.app/'\n\nIf Database Result is empty or the bike is SOLD:\nApologize politely, explain it is not available, and invite them to browse vehicles on https://most-affordable.vercel.app/.\n======\nDatabase Search Result: {{ JSON.stringify($json) }}"
      },
      "id": "c5e5fffd-8c0c-4539-818e-872b121bdf14",
      "name": "Format DB Result1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [1392, 1488]
    },
    {
      "parameters": {
        "jsCode": "return { output: $input.item.json.text || $input.item.json.output || 'Processing Error: AI did not return text.' };"
      },
      "id": "24e3656b-7b7e-4239-93ed-bfa8aa8292af",
      "name": "Format DB Output UI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1728, 1488]
    },
    {
      "parameters": {
        "tableId": "requests",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.action_param }}"
            },
            {
              "fieldId": "instagram_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.body.entry[0].messaging[0].sender.id }}"
            },
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.body.entry[0].messaging[0].sender.id }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "insta"
            },
            {
              "fieldId": "seen",
              "fieldValue": "=false"
            },
            {
              "fieldId": "bike_name",
              "fieldValue": "={{ $json.action_param.split(' - Ph:')[0].trim() }}"
            },
            {
              "fieldId": "contact",
              "fieldValue": "={{ ($json.action_param.split('Ph:')[1] || '').trim() }}"
            }
          ]
        }
      },
      "id": "ff8e2b8f-359d-4bd0-ad1c-50c1dd495f9f",
      "name": "Supabase Insert Request1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1472, 1872],
      "credentials": {
        "supabaseApi": {
          "id": "vNTP1XgP3wsW0tiM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reply = $('Parse JSON Output1').item.json.reply_to_user || 'Your request has been saved!';\nreturn { output: reply + '\\n\\n✅ Checkout our website for more details and to request vehicles:\\nhttps://most-affordable.vercel.app/' };"
      },
      "id": "5cb560bf-d5bb-4c74-816e-396f4f4fdedc",
      "name": "Format Save Output UI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 1872]
    },
    {
      "parameters": {
        "jsCode": "return { output: $('Parse JSON Output1').item.json.reply_to_user || 'Something went wrong.' };"
      },
      "id": "12069204-c909-4ed4-b755-f724deefd460",
      "name": "Format Normal Output UI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1472, 2080]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [512, 1872],
      "id": "5baabe15-329d-4b9f-a0bc-48ca105b0282",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "M8x78S7HaYYge2Lz",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('When Executed by Another Workflow').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAANa0RPdJZCZABZAFoxdUIzSjUzSnZAFYk54UTQ0LVRNSGtubHZAEajJFejR3ZAUNDTmQ2ZA2tfazJwZAjg3U0ZALM2huUEZABb0NOejJJT1pKcTF3TmVuVHpXLVJ5VWFzNTl3UkZAUTjlxQmdNZADdQTHhsOEtpN1ZAzZA2RaRFBlc05HUXBDTQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"recipient\": {\n    \"id\": $('When Executed by Another Workflow').item.json.body.entry[0].messaging[0].sender.id\n  },\n  \"message\": {\n    \"text\": $json.output\n  }\n}\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2112, 1800],
      "id": "55d925ce-79df-4c34-b34f-0ba618e17345",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"type\": \"DM\",\n  \"aiInput\": \"{{$json.body.entry[0].messaging[0].message.text}}\",\n  \"senderId\": \"{{$json.body.entry[0].messaging[0].sender.id}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [256, 1680],
      "id": "093639dd-169f-4b8a-bbae-4e8695328162",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{\n  $json.body.entry?.[0]?.changes?.[0]?.field === \"comments\"\n    ? 0\n    : (\n        $json.body.entry?.[0]?.messaging?.[0]?.message?.text &&\n        !$json.body.entry?.[0]?.messaging?.[0]?.message?.is_echo\n      )\n      ? 1\n      : 2\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [16, 1664],
      "id": "8413cbf8-24ac-456b-9e07-8382b49581f7",
      "name": "Switch"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-160, 1680],
      "id": "d9f5f24e-c2c9-4b40-95dd-b6485f8ea78c",
      "name": "When Executed by Another Workflow"
    },

    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "sender_id",
              "lookupValue": "={{ $json.senderId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gs-read-user-001",
      "name": "Sheets - Read User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [448, 1680],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let sheetRow = {};\ntry { sheetRow = $input.item.json || {}; } catch(e) {}\n\nconst senderId = $('Edit Fields').item.json.senderId;\nconst rawMsg = $('Edit Fields').item.json.aiInput;\nconst isDone = sheetRow.status === 'done';\n\nlet aiInput = rawMsg;\nif (sheetRow.sender_id && !isDone) {\n  let ctx = '';\n  if (sheetRow.bike_searched) ctx += `User previously searched for bike: ${sheetRow.bike_searched}. `;\n  if (sheetRow.bike_requested) ctx += `User previously requested bike: ${sheetRow.bike_requested}. `;\n  if (ctx) aiInput = `[Context: ${ctx}]\\nUser message: ${rawMsg}`;\n}\n\nreturn [{ senderId, aiInput, isDone: isDone.toString(), sheetRow }];"
      },
      "id": "gs-build-ctx-001",
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [656, 1680]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "done-001",
              "leftValue": "={{ $json.isDone }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gs-if-done-001",
      "name": "Is Bot Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [864, 1680]
    },
    {
      "parameters": {
        "jsCode": "return { output: '✅ Your request was already handled!\\n\\nCheckout our website for more details and to browse all bikes or request a vehicle:\\nhttps://most-affordable.vercel.app/' };"
      },
      "id": "gs-done-msg-001",
      "name": "Send Website Msg (Done)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [864, 1488]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sender_id": "={{ $('Edit Fields').item.json.senderId }}",
            "status": "done",
            "bike_searched": "={{ $('Parse JSON Output1').item.json.action_param }}",
            "source": "insta",
            "timestamp": "={{ new Date().toISOString() }}"
          }
        },
        "matchingColumns": ["sender_id"],
        "options": {}
      },
      "id": "gs-write-bike-001",
      "name": "Sheets - Write Bike Found",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1920, 1488],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sender_id": "={{ $('Edit Fields').item.json.senderId }}",
            "status": "done",
            "bike_requested": "={{ $('Parse JSON Output1').item.json.action_param.split(' - Ph:')[0].trim() }}",
            "contact": "={{ ($('Parse JSON Output1').item.json.action_param.split('Ph:')[1] || '').trim() }}",
            "source": "insta",
            "timestamp": "={{ new Date().toISOString() }}"
          }
        },
        "matchingColumns": ["sender_id"],
        "options": {}
      },
      "id": "gs-write-req-001",
      "name": "Sheets - Write Req Saved",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1920, 1872],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parse JSON Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Output1": {
      "main": [
        [
          {
            "node": "If Search DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Search DB1": {
      "main": [
        [
          {
            "node": "Supabase Fetch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Save Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Save Request1": {
      "main": [
        [
          {
            "node": "Supabase Insert Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Normal Output UI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Fetch1": {
      "main": [
        [
          {
            "node": "Format DB Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini (Format DB)1": {
      "ai_languageModel": [
        [
          {
            "node": "Format DB Result1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format DB Result1": {
      "main": [
        [
          {
            "node": "Format DB Output UI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB Output UI1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets - Write Bike Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert Request1": {
      "main": [
        [
          {
            "node": "Format Save Output UI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Save Output UI1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets - Write Req Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Normal Output UI1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sheets - Read User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Read User": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "Is Bot Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Bot Done?": {
      "main": [
        [
          {
            "node": "Send Website Msg (Done)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Website Msg (Done)": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "812e57160b6cfa0488283afdc6a904b27f91c8dd7755e053008327f19ff2ef3d"
  }
}
