Data ingection.json
{
  "name": "Data-Ingestion WorkFlow",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "269af7d6-327f-4916-86b7-4d05b0e01d10",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ADewJIKGgFJyvKSW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "new-index",
          "mode": "list",
          "cachedResultName": "new-index"
        },
        "embeddingBatchSize": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        528,
        0
      ],
      "id": "0d86cde8-f983-422d-b194-9d60bd61d25b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "6byysywZxF1yjZ6N",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        208
      ],
      "id": "22609175-3543-4fb3-9472-9e48ecb80e72",
      "name": "Embeddings Google Gemini",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googlePalmApi": {
          "id": "u8tQqBcRl8cdod9n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1dAJp_T3REstHuTS1ZZ-x4PIlMRwzYf9z",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dAJp_T3REstHuTS1ZZ-x4PIlMRwzYf9z"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "e98cee43-c56d-4919-8661-63324b75c623",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ADewJIKGgFJyvKSW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        672,
        208
      ],
      "id": "a4e09a6d-c298-4d1a-857d-07acf90b3327",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1f2ef38d-3046-4a5d-a188-2ee81d7459a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe9c4a34b46a73a2b7665dc2789cf79e253a8d341c798ea67f60c08e26166775"
  },
  "id": "3nRBtlcKwBKlBcUYyRSn5",
  "tags": []
}