Instagram Automation.json
{
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=0"
        },
        "options": {}
      },
      "id": "2a7fa059-e1ac-40e8-ab53-18a661d50bcb",
      "name": "Check DB1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2032,
        2336
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BszyxYIl7V01jXJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dbItems = $input.all();\n\nlet name = 'missing';\nlet email = 'missing';\nlet phone = 'missing';\nlet requirement = 'missing';\n\nconst aiInput = $('Edit Fields11').first().json.aiInput;\nconst senderId = $('Edit Fields11').first().json.senderId;\n\n// Find the row that matches the current sender's SESSION ID\nconst matchedRow = dbItems.find(item => {\n  const sessionId = String(item.json['SESSION ID'] || '').trim();\n  return sessionId === String(senderId).trim();\n});\n\nif (matchedRow) {\n  const data = matchedRow.json;\n  name = data.NAME || 'missing';\n  email = data.EMAIL || 'missing';\n  phone = data.PHONE || 'missing';\n  requirement = data.REQUIRMENT || data.REQUIREMENT || 'missing';\n}\n\nconst memoryFlag = `Known lead info:\\nName: ${name}\\nEmail: ${email}\\nPhone: ${phone}\\nRequirement: ${requirement}`;\n\nreturn [\n  {\n    json: {\n      aiInput: aiInput,\n      sessionId: senderId,\n      memoryContext: memoryFlag\n    }\n  }\n];"
      },
      "id": "f00aa45d-e9f2-4a66-ae14-39f40fb5dbe8",
      "name": "Load Memory Context1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        2336
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414723004,
          "mode": "list",
          "cachedResultName": "PendingFollowUps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=414723004"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SENDER_ID": "={{ $('Webhook1').item.json.body.entry[0].messaging[0].sender.id }}",
            "PAGE_ID": "={{ $('Webhook1').item.json.body.entry[0].messaging[0].recipient.id }}",
            "TIMESTAMP": "={{ $now.toISO() }}",
            "FOLLOW_UP_SENT": "false"
          },
          "matchingColumns": [
            "SENDER_ID"
          ],
          "schema": [
            {
              "id": "SENDER_ID",
              "displayName": "SENDER_ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PAGE_ID",
              "displayName": "PAGE_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "TIMESTAMP",
              "displayName": "TIMESTAMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "FOLLOW_UP_SENT",
              "displayName": "FOLLOW_UP_SENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3232,
        2432
      ],
      "id": "702d0d2a-41b4-4fac-8bac-2c835b9eb934",
      "name": "Log to PendingFollowUps",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BszyxYIl7V01jXJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414723004,
          "mode": "list",
          "cachedResultName": "PendingFollowUps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=414723004"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SENDER_ID": "={{ $json['SESSION ID'] }}",
            "CONVERTED": "true"
          },
          "matchingColumns": [
            "SENDER_ID"
          ],
          "schema": [
            {
              "id": "SENDER_ID",
              "displayName": "SENDER_ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONVERTED",
              "displayName": "CONVERTED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3408,
        2256
      ],
      "id": "2a8b011f-6f5d-4e58-9806-6149eabb6c85",
      "name": "Mark CONVERTED",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BszyxYIl7V01jXJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "c62c59d4-5f54-4d92-a587-bbc794113da2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1216,
        2016
      ],
      "id": "7b388702-a019-4787-881e-4e121fa0a653",
      "name": "Webhook1",
      "webhookId": "c62c59d4-5f54-4d92-a587-bbc794113da2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.aiInput }}",
        "options": {
          "systemMessage": "=your Name: Maya\n\nRole: Instagram DM assistant for Automa Ponix (AI automation agency).\nGoal: answer questions, guide conversation, capture qualified leads.\n\nTool\nKnowledge tool (official agency info only). Use only when needed.\n\nSESSION_ID = {{ $json.senderId || 'unknown' }}\n\nStyle\nReplies must be 1–2 short lines.\nClean spacing. No markdown. No bold.\nNever use ** or formatting symbols.\nMaximum 1 emoji if needed.\nUse lists when needed.\n\nTone\nConfident, friendly, lightly witty.\n\nRules\n• Always answer the user’s question first\n• Ask only one simple question at a time\n• Close conversation within 5 messages and thank politely\n• If asked about the agency use Knowledge tool\n\n{{ $json.memoryContext || '' }}\n\nLead Flow\nIf the user wants to proceed ask: Would you like our team to reach out?\nIf yes send: Please share: Name, Email, Phone, Requirement\n\nContact Extraction\nIf any field is missing ask ONLY for that field.\n\nFinal Response\nAfter confirmation return ONLY this JSON:\n{\n\"store_lead\": true,\n\"NAME\": \"\",\n\"EMAIL\": \"\",\n\"PHONE\": \"\",\n\"REQUIRMENT\": \"\",\n\"SESSION_ID\": \"{{ $json.senderId || 'unknown' }}\"\n}\nNever output JSON otherwise."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2352,
        2336
      ],
      "id": "6ae031c5-4511-434d-9722-5f5101eed22c",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('Webhook1').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAcUbxmsrrZABZAGJRZAUwwX3hUX1FINlloT1RUT1AwYWNtYkNFOVdpT2ZAndFJfdThfLWlOdWxxM21tOXFhRzc2bkZAzNDFfYXFpNTZAfYjN6aFNxUjZAvSkVyZAWpwOHM4a25JZAzNGZA1pjU3RqWEJhZAnBLaVBaM093Sy1KNDlHSWRrWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n messaging_type: \"RESPONSE\",\n recipient: {\nid: $('Webhook1').item.json.body.entry[0].messaging[0].sender.id\n },\nmessage: {\ntext: $json.output \n}\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3040,
        2432
      ],
      "id": "2522f5e9-3b3f-444e-b7c7-c9ec4210fa31",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1904,
        1936
      ],
      "id": "477566b2-5cb7-4254-91b5-05a8a40b48f8",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "736e4e9e-ce9e-473d-b971-d2394ec802cb",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d63f12e5-4bec-46c2-a8cd-d6755551b702",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "automaponix",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1696,
        1952
      ],
      "id": "6da1ac3a-ecbd-4f65-8ae7-5c1d7b5643b2",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{\n  $json.body.entry?.[0]?.changes?.[0]?.field === \"comments\"\n    ? 0\n    : (\n        $json.body.entry?.[0]?.messaging?.[0]?.message?.text &&\n        !$json.body.entry?.[0]?.messaging?.[0]?.message?.is_echo\n      )\n      ? 1\n      : 2\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1696,
        2192
      ],
      "id": "83877353-d85f-44ea-9895-0618aafbd520",
      "name": "Switch2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.aiInput}}",
        "options": {
          "systemMessage": "=Name: Maya\n\nRole: Instagram DM assistant for Automa Ponix (AI automation agency).\nGoal: answer questions, guide conversation, capture qualified leads.\n\nTool\nKnowledge tool (official agency info only). Use only when needed.\n\nSESSION_ID = {{ $json.senderId || 'unknown' }}\n\nStyle\nReplies must be 1–2 short lines.\nClean spacing. No markdown. No bold.\nNever use ** or formatting symbols.\nMaximum 1 emoji if needed.\nUse lists when needed.\n\nTone\nConfident, friendly, lightly witty.\n\nRules\n• Always answer the user’s question first\n• Ask only one simple question at a time\n• Close conversation within 5 messages and thank politely\n• If asked about the agency use Knowledge tool\n\n{{ $json.memoryContext || '' }}\n\nLead Flow\nIf the user wants to proceed ask: Would you like our team to reach out?\nIf yes send: Please share: Name, Email, Phone, Requirement\n\nContact Extraction\nIf any field is missing ask ONLY for that field.\n\nFinal Response\nAfter confirmation return ONLY this JSON:\n{\n\"store_lead\": true,\n\"NAME\": \"\",\n\"EMAIL\": \"\",\n\"PHONE\": \"\",\n\"REQUIRMENT\": \"\",\n\"SESSION_ID\": \"{{ $json.senderId || 'unknown' }}\"\n}\nNever output JSON otherwise."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2176,
        2064
      ],
      "id": "2555dd9c-abf1-4699-acc2-a29fe6edfc57",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.from.id }}/replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAcUbxmsrrZABZAGJRZAUwwX3hUX1FINlloT1RUT1AwYWNtYkNFOVdpT2ZAndFJfdThfLWlOdWxxM21tOXFhRzc2bkZAzNDFfYXFpNTZAfYjN6aFNxUjZAvSkVyZAWpwOHM4a25JZAzNGZA1pjU3RqWEJhZAnBLaVBaM093Sy1KNDlHSWRrWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2464,
        2064
      ],
      "id": "4636e9e2-37a7-475f-a977-feedf3fdddbb",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  type: \"COMMENT\",\n  aiInput: $json.body.entry[0].changes[0].value.text,\n  commentId: $json.body.entry[0].changes[0].value.id\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        2064
      ],
      "id": "71cfe518-ac2d-421b-a11c-07db479273df",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"type\": \"DM\",\n  \"aiInput\": \"{{$json.body.entry[0].messaging[0].message.text}}\",\n  \"senderId\": \"{{$json.body.entry[0].messaging[0].sender.id}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        2336
      ],
      "id": "4d8650c4-ecba-4a08-807d-a64075e3c271",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1fk_VwBZPJRAVmJPAs2pQj0ysNaqD5heA",
          "mode": "list",
          "cachedResultName": "Automaponix-Base.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1fk_VwBZPJRAVmJPAs2pQj0ysNaqD5heA/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2400,
        2688
      ],
      "id": "8da12040-d100-4220-8fc8-77f1f51e3a05",
      "name": "Download file1",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2544,
        2848
      ],
      "id": "9787d57e-08cf-4551-a91a-43009223235d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "ckp1URgiys68muFa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2656,
        2848
      ],
      "id": "dd60b6c3-e2f7-4bd9-9000-5d89aefa57a2",
      "name": "Default Data Loader1",
      "disabled": true
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2656,
        2976
      ],
      "id": "08e5718b-3c69-4e09-a019-ea3856286536",
      "name": "Recursive Character Text Splitter1",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "automaponix-kb",
          "mode": "list",
          "cachedResultName": "automaponix-kb"
        },
        "embeddingBatchSize": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2544,
        2688
      ],
      "id": "8a448af8-a013-47e3-a058-32dabee06642",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "tQ4eWCluYby9A04l",
          "name": "PineconeApi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve official Automa Ponix company information including services, automation solutions, FAQs, and policies. Use it when replying.",
        "pineconeIndex": {
          "__rl": true,
          "value": "automaponix-kb",
          "mode": "list",
          "cachedResultName": "automaponix-kb"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2544,
        2528
      ],
      "id": "5ec1e370-f8f8-4461-84a5-125c7bb99a2a",
      "name": "Pinecone Vector Store5",
      "credentials": {
        "pineconeApi": {
          "id": "tQ4eWCluYby9A04l",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6859802b-51a7-4e53-941d-87597310590c",
              "leftValue": "={{ $json.output }}",
              "rightValue": "=\"store_lead\": true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2832,
        2336
      ],
      "id": "bc82c871-acb4-401f-8afe-a0605ad19295",
      "name": "If5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae969df-0b77-48aa-ac17-e79d45c686c9",
              "name": "NAME",
              "value": "={{ JSON.parse($json.output).NAME }}",
              "type": "string"
            },
            {
              "id": "dd9a822a-67d8-4f1b-ab30-858bfd9128ff",
              "name": "EMAIL",
              "value": "={{ JSON.parse($json.output).EMAIL }}",
              "type": "string"
            },
            {
              "id": "f0c802c4-32ef-4ab5-bcc9-92c4a13aa2c7",
              "name": "PHONE",
              "value": "={{ JSON.parse($json.output).PHONE }}",
              "type": "string"
            },
            {
              "id": "08960112-a04f-40da-9d68-1fa62856dc74",
              "name": "REQUIREMENT",
              "value": "={{ JSON.parse($json.output).REQUIRMENT }}",
              "type": "string"
            },
            {
              "id": "46689995-72fe-46af-9f58-77cac344a3c9",
              "name": "SESSION ID",
              "value": "={{ JSON.parse($json.output).SESSION_ID }}",
              "type": "string"
            },
            {
              "id": "f04cb4e4-4369-4bcb-9954-0d54647dce56",
              "name": "DATE",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3040,
        2256
      ],
      "id": "bdeb65e0-b8cb-4798-9f57-f9671b07bf96",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('Webhook1').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAcUbxmsrrZABZAGJRZAUwwX3hUX1FINlloT1RUT1AwYWNtYkNFOVdpT2ZAndFJfdThfLWlOdWxxM21tOXFhRzc2bkZAzNDFfYXFpNTZAfYjN6aFNxUjZAvSkVyZAWpwOHM4a25JZAzNGZA1pjU3RqWEJhZAnBLaVBaM093Sy1KNDlHSWRrWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n messaging_type: \"RESPONSE\",\n recipient: {\nid: $('Webhook1').item.json.body.entry[0].messaging[0].sender.id\n },\nmessage: {\ntext: $json.confirmationMessage\n}\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3728,
        2256
      ],
      "id": "f43e1355-912f-49f3-9bf8-1d7985d92147",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fce76151-9ba1-4c3c-ae90-8a84484ff6d0",
              "name": "confirmationMessage",
              "value": "Perfect. Our team will reach out shortly. Thank you.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3568,
        2256
      ],
      "id": "e4652551-8349-46b5-999f-dbb346ca0ccf",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAME": "={{ $json.NAME }}",
            "DATE": "={{ $json.DATE }}",
            "PHONE": "={{ $json.PHONE }}",
            "REQUIRMENT": "={{ $json.REQUIREMENT }}",
            "EMAIL": "={{ $json.EMAIL }}",
            "SESSION ID": "={{ $json[\"SESSION ID\"] }}"
          },
          "matchingColumns": [
            "SESSION ID"
          ],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PHONE",
              "displayName": "PHONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "REQUIRMENT",
              "displayName": "REQUIRMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SESSION ID",
              "displayName": "SESSION ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3232,
        2256
      ],
      "id": "c3578dd4-5cf3-422a-946f-961aae22bb76",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BszyxYIl7V01jXJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "ministral-3b-latest",
        "options": {
          "maxTokens": 200,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2352,
        2528
      ],
      "id": "a1398e7c-ec67-49fb-8ab2-4db1d602eda2",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {
          "id": "0rcK32wlWzHDbCUK",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2704,
        2064
      ],
      "name": "Every 30 Minutes1",
      "id": "b61efe52-0327-4945-a841-22d2e20ac1bf"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414723004,
          "mode": "list",
          "cachedResultName": "PendingFollowUps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=414723004"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2944,
        2064
      ],
      "name": "Get Pending Leads1",
      "id": "71899146-de2f-42ac-9984-e9a793270e6f",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BszyxYIl7V01jXJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fourHoursAgo = new Date(Date.now() - 4 * 60 * 60 * 1000);\n\nconst filteredItems = items.filter((item) => {\n  const timestamp = new Date(item.json.TIMESTAMP);\n  const followUpSent = item.json.FOLLOW_UP_SENT;\n  const converted = item.json.CONVERTED;\n\n  const followUpSentBool = String(followUpSent).toLowerCase() === \"true\";\n  const convertedBool = String(converted).toLowerCase() === \"true\";\n\n  return (\n    !isNaN(timestamp.getTime()) &&\n    timestamp <= fourHoursAgo &&\n    !followUpSentBool &&\n    !convertedBool\n  );\n});\n\nreturn filteredItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        2064
      ],
      "name": "Filter 4hr+ No Conversion1",
      "id": "4798d225-2d62-4e13-9791-5e2038d1e883"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "3e2d61a5-a75e-4142-808e-3e08c9e57227"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3424,
        2064
      ],
      "name": "Any Due Follow-ups?1",
      "id": "64bba50a-6063-4cd4-8de1-52c06376dcd4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $json.PAGE_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAcUbxmsrrZABZAGJRZAUwwX3hUX1FINlloT1RUT1AwYWNtYkNFOVdpT2ZAndFJfdThfLWlOdWxxM21tOXFhRzc2bkZAzNDFfYXFpNTZAfYjN6aFNxUjZAvSkVyZAWpwOHM4a25JZAzNGZA1pjU3RqWEJhZAnBLaVBaM093Sy1KNDlHSWRrWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  messaging_type: \"RESPONSE\",\n  recipient: { id: $json.SENDER_ID },\n  message: {\n    text: \"Hey! Just checking in 👋\\n\\nWe noticed you were curious about what Automa Ponix can do for your business.\\n\\nIf you'd like our team to reach out and show you exactly how AI automation can help — just drop your name, email and number here.\\n\\nWe'd love to connect!\"\n  }\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3664,
        2064
      ],
      "name": "Send Follow-up DM1",
      "id": "40ea1309-9ecf-48f4-a6a0-18f58280dd14"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414723004,
          "mode": "list",
          "cachedResultName": "PendingFollowUps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=414723004"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FOLLOW_UP_TIME": "={{ $now.toISO() }}",
            "FOLLOW_UP_SENT": "={{true}}",
            "SENDER_ID": "={{ $('Get Pending Leads1').item.json.SENDER_ID }}"
          },
          "matchingColumns": [
            "SENDER_ID"
          ],
          "schema": [
            {
              "id": "SENDER_ID",
              "displayName": "SENDER_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PAGE_ID",
              "displayName": "PAGE_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TIMESTAMP",
              "displayName": "TIMESTAMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FOLLOW_UP_SENT",
              "displayName": "FOLLOW_UP_SENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FOLLOW_UP_TIME",
              "displayName": "FOLLOW_UP_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONVERTED",
              "displayName": "CONVERTED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3904,
        2064
      ],
      "name": "Mark Follow-up Sent",
      "id": "4184e98c-3291-4869-b729-403268a7aa4d",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BszyxYIl7V01jXJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "ab157d55-6d8f-4f7a-ba35-cc986a3e113f",
      "name": "Window Buffer Memory ",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        2448,
        2528
      ]
    },
    {
      "parameters": {},
      "id": "504df13b-3578-4eb0-bd94-d53f3dc13a9b",
      "name": "Window Buffer Memory 3",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        2272,
        2224
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ $json.body.entry[0].id == \"17841480583774715\" ? 0 : 1 }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1280,
        2224
      ],
      "id": "d569d4e8-16e3-45dd-ad10-0b03c021c882",
      "name": "Switch3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kFZ9x2eYOFFCT3w5",
          "mode": "list",
          "cachedResultUrl": "/workflow/kFZ9x2eYOFFCT3w5",
          "cachedResultName": "Inform Requester - Send Instagram DM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1520,
        2336
      ],
      "id": "30065b2c-095c-4029-a212-b600e0763097",
      "name": "Call 'Inform Requester - Send Instagram DM'1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2176,
        2224
      ],
      "id": "a70649aa-b9ac-4c06-8f7d-ec6304d882ed",
      "name": "Mistral Cloud Chat Model3",
      "credentials": {
        "mistralCloudApi": {
          "id": "0rcK32wlWzHDbCUK",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "connections": {
    "Check DB1": {
      "main": [
        [
          {
            "node": "Load Memory Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Memory Context1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark CONVERTED": {
      "main": [
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Log to PendingFollowUps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Check DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store5",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store5": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent5",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Mark CONVERTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Every 30 Minutes1": {
      "main": [
        [
          {
            "node": "Get Pending Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Leads1": {
      "main": [
        [
          {
            "node": "Filter 4hr+ No Conversion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 4hr+ No Conversion1": {
      "main": [
        [
          {
            "node": "Any Due Follow-ups?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Due Follow-ups?1": {
      "main": [
        [
          {
            "node": "Send Follow-up DM1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up DM1": {
      "main": [
        [
          {
            "node": "Mark Follow-up Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory ": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory 3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Inform Requester - Send Instagram DM'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "abaad11c3e60e557df9fc051eed7931e09f7e0c88f9b24837b3a628ce3820fe2"
  }
}