Instagram Automation.json
{
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=0"
        },
        "options": {}
      },
      "id": "0f281486-a3b9-406e-99f8-93a5c759e073",
      "name": "Check DB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        20784,
        12016
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2dvuvMpwQe7b0sGm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dbItems = $input.all();\n\nlet name = 'missing';\nlet email = 'missing';\nlet phone = 'missing';\nlet requirement = 'missing';\n\nif (dbItems.length > 0 && dbItems[0].json) {\n  const data = dbItems[0].json;\n\n  name = data.NAME || 'missing';\n  email = data.EMAIL || 'missing';\n  phone = data.PHONE || 'missing';\n  requirement = data.REQUIRMENT || data.REQUIREMENT || 'missing';\n}\n\nconst aiInput = $('Edit Fields8').first().json.aiInput;\nconst senderId = $('Edit Fields8').first().json.senderId;\n\nconst memoryFlag = `Known lead info:\nName: ${name}\nEmail: ${email}\nPhone: ${phone}\nRequirement: ${requirement}`;\n\nreturn [\n  {\n    json: {\n      aiInput: aiInput,\n      sessionId: senderId,\n      memoryContext: memoryFlag\n    }\n  }\n];"
      },
      "id": "274e8e0b-91e3-442d-8454-413161536600",
      "name": "Load Memory Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20944,
        12016
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414723004,
          "mode": "list",
          "cachedResultName": "PendingFollowUps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=414723004"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SENDER_ID": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}",
            "PAGE_ID": "={{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}",
            "TIMESTAMP": "={{ $now.toISO() }}",
            "FOLLOW_UP_SENT": "false"
          },
          "matchingColumns": [
            "SENDER_ID"
          ],
          "schema": [
            {
              "id": "SENDER_ID",
              "displayName": "SENDER_ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PAGE_ID",
              "displayName": "PAGE_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "TIMESTAMP",
              "displayName": "TIMESTAMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "FOLLOW_UP_SENT",
              "displayName": "FOLLOW_UP_SENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        21984,
        12112
      ],
      "id": "88081826-bc56-4593-919f-14db278138d1",
      "name": "Log to PendingFollowUps1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2dvuvMpwQe7b0sGm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414723004,
          "mode": "list",
          "cachedResultName": "PendingFollowUps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=414723004"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SENDER_ID": "={{ $json['SESSION ID'] }}",
            "CONVERTED": "true"
          },
          "matchingColumns": [
            "SENDER_ID"
          ],
          "schema": [
            {
              "id": "SENDER_ID",
              "displayName": "SENDER_ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONVERTED",
              "displayName": "CONVERTED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        22160,
        11936
      ],
      "id": "0953f612-73bc-4411-9519-f5f6436b9805",
      "name": "Mark CONVERTED1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2dvuvMpwQe7b0sGm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "c62c59d4-5f54-4d92-a587-bbc794113da2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        19968,
        11696
      ],
      "id": "5a1a69a2-fae2-466e-a1c6-4bb945e919c7",
      "name": "Webhook",
      "webhookId": "c62c59d4-5f54-4d92-a587-bbc794113da2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.aiInput }}",
        "options": {
          "systemMessage": "=your Name: Maya\n\nRole: Instagram DM assistant for Automa Ponix (AI automation agency).\nGoal: answer questions, guide conversation, capture qualified leads.\n\nTool\nKnowledge tool (official agency info only). Use only when needed.\n\nSESSION_ID = {{ $json.senderId || 'unknown' }}\n\nStyle\nReplies must be 1–2 short lines.\nClean spacing. No markdown. No bold.\nNever use ** or formatting symbols.\nMaximum 1 emoji if needed.\nUse lists when needed.\n\nTone\nConfident, friendly, lightly witty.\n\nRules\n• Always answer the user’s question first\n• Ask only one simple question at a time\n• Close conversation within 5 messages and thank politely\n• If asked about the agency use Knowledge tool\n\n{{ $json.memoryContext || '' }}\n\nLead Flow\nIf the user wants to proceed ask: Would you like our team to reach out?\nIf yes send: Please share: Name, Email, Phone, Requirement\n\nContact Extraction\nIf any field is missing ask ONLY for that field.\n\nFinal Response\nAfter confirmation return ONLY this JSON:\n{\n\"store_lead\": true,\n\"NAME\": \"\",\n\"EMAIL\": \"\",\n\"PHONE\": \"\",\n\"REQUIRMENT\": \"\",\n\"SESSION_ID\": \"{{ $json.senderId || 'unknown' }}\"\n}\nNever output JSON otherwise."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        21104,
        12016
      ],
      "id": "5cd89613-07ab-41e8-a207-d11cb4546126",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAcUbxmsrrZABZAGJRZAUwwX3hUX1FINlloT1RUT1AwYWNtYkNFOVdpT2ZAndFJfdThfLWlOdWxxM21tOXFhRzc2bkZAzNDFfYXFpNTZAfYjN6aFNxUjZAvSkVyZAWpwOHM4a25JZAzNGZA1pjU3RqWEJhZAnBLaVBaM093Sy1KNDlHSWRrWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n messaging_type: \"RESPONSE\",\n recipient: {\nid: $('Webhook').item.json.body.entry[0].messaging[0].sender.id\n },\nmessage: {\ntext: $json.output \n}\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        21792,
        12112
      ],
      "id": "38b9854b-e7c0-4a38-bbfc-2f46e238ba87",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        20656,
        11616
      ],
      "id": "391c39aa-564f-4eae-b2dd-44fdbab65eda",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "736e4e9e-ce9e-473d-b971-d2394ec802cb",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d63f12e5-4bec-46c2-a8cd-d6755551b702",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "automaponix",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        20448,
        11632
      ],
      "id": "f33c9b11-576d-46b1-92c3-6ea73721e8e2",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{\n  $json.body.entry?.[0]?.changes?.[0]?.field === \"comments\"\n    ? 0\n    : (\n        $json.body.entry?.[0]?.messaging?.[0]?.message?.text &&\n        !$json.body.entry?.[0]?.messaging?.[0]?.message?.is_echo\n      )\n      ? 1\n      : 2\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        20448,
        11872
      ],
      "id": "8f7a74b5-5769-46e6-8ffb-8e72b4aba6cc",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.aiInput}}",
        "options": {
          "systemMessage": "=Name: Maya\n\nRole: Instagram DM assistant for Automa Ponix (AI automation agency).\nGoal: answer questions, guide conversation, capture qualified leads.\n\nTool\nKnowledge tool (official agency info only). Use only when needed.\n\nSESSION_ID = {{ $json.senderId || 'unknown' }}\n\nStyle\nReplies must be 1–2 short lines.\nClean spacing. No markdown. No bold.\nNever use ** or formatting symbols.\nMaximum 1 emoji if needed.\nUse lists when needed.\n\nTone\nConfident, friendly, lightly witty.\n\nRules\n• Always answer the user’s question first\n• Ask only one simple question at a time\n• Close conversation within 5 messages and thank politely\n• If asked about the agency use Knowledge tool\n\n{{ $json.memoryContext || '' }}\n\nLead Flow\nIf the user wants to proceed ask: Would you like our team to reach out?\nIf yes send: Please share: Name, Email, Phone, Requirement\n\nContact Extraction\nIf any field is missing ask ONLY for that field.\n\nFinal Response\nAfter confirmation return ONLY this JSON:\n{\n\"store_lead\": true,\n\"NAME\": \"\",\n\"EMAIL\": \"\",\n\"PHONE\": \"\",\n\"REQUIRMENT\": \"\",\n\"SESSION_ID\": \"{{ $json.senderId || 'unknown' }}\"\n}\nNever output JSON otherwise."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        20928,
        11744
      ],
      "id": "8e935472-f8cc-44f7-b2b4-39dcbd6363dd",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('Webhook').item.json.body.entry[0].changes[0].value.from.id }}/replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAcUbxmsrrZABZAGJRZAUwwX3hUX1FINlloT1RUT1AwYWNtYkNFOVdpT2ZAndFJfdThfLWlOdWxxM21tOXFhRzc2bkZAzNDFfYXFpNTZAfYjN6aFNxUjZAvSkVyZAWpwOHM4a25JZAzNGZA1pjU3RqWEJhZAnBLaVBaM093Sy1KNDlHSWRrWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        21216,
        11744
      ],
      "id": "e21fdd06-c0df-4612-9cab-e8eb4ba55cf8",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  type: \"COMMENT\",\n  aiInput: $json.body.entry[0].changes[0].value.text,\n  commentId: $json.body.entry[0].changes[0].value.id\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20736,
        11744
      ],
      "id": "6bd73322-8d2a-43ab-a043-0b8057fe7914",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"type\": \"DM\",\n  \"aiInput\": \"{{$json.body.entry[0].messaging[0].message.text}}\",\n  \"senderId\": \"{{$json.body.entry[0].messaging[0].sender.id}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20624,
        12016
      ],
      "id": "24ba78fb-1200-4208-a6ab-5f056f7e9f67",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "model": "canopylabs/orpheus-v1-english",
        "options": {
          "maxTokensToSample": 200,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        20928,
        11904
      ],
      "id": "c511e0b4-5034-4414-b728-2780c5ed1cae",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "EFQCmqsVrnw4OqAW",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1fk_VwBZPJRAVmJPAs2pQj0ysNaqD5heA",
          "mode": "list",
          "cachedResultName": "Automaponix-Base.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1fk_VwBZPJRAVmJPAs2pQj0ysNaqD5heA/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        21152,
        12368
      ],
      "id": "268af6c9-e656-4ab7-b39c-f4bfcb416de3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lLm1Mzt83crF4rZe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        21296,
        12528
      ],
      "id": "4163b177-3619-46b4-bd23-0a4bcd45dc4b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "8JwcBNO8t0Rbq5Id",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        21408,
        12528
      ],
      "id": "42c75bf6-538c-45f8-87ab-2479c5243739",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        21408,
        12656
      ],
      "id": "930d375c-e679-4d98-a628-d210ef46b7a6",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "automaponix-kb",
          "mode": "list",
          "cachedResultName": "automaponix-kb"
        },
        "embeddingBatchSize": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        21296,
        12368
      ],
      "id": "282d03a4-ef17-4538-a4d4-03c0e6cd3674",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "UndLstXHKkF6veLc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve official Automa Ponix company information including services, automation solutions, FAQs, and policies. Use it when replying.",
        "pineconeIndex": {
          "__rl": true,
          "value": "automaponix-kb",
          "mode": "list",
          "cachedResultName": "automaponix-kb"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        21296,
        12208
      ],
      "id": "d06ab027-d0da-43a5-9d8f-0d2e54ff2c61",
      "name": "Pinecone Vector Store4",
      "credentials": {
        "pineconeApi": {
          "id": "UndLstXHKkF6veLc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6859802b-51a7-4e53-941d-87597310590c",
              "leftValue": "={{ $json.output }}",
              "rightValue": "=\"store_lead\": true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        21584,
        12016
      ],
      "id": "1be33c03-d5d4-48ad-98e0-6e7d897445ce",
      "name": "If4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae969df-0b77-48aa-ac17-e79d45c686c9",
              "name": "NAME",
              "value": "={{ JSON.parse($json.output).NAME }}",
              "type": "string"
            },
            {
              "id": "dd9a822a-67d8-4f1b-ab30-858bfd9128ff",
              "name": "EMAIL",
              "value": "={{ JSON.parse($json.output).EMAIL }}",
              "type": "string"
            },
            {
              "id": "f0c802c4-32ef-4ab5-bcc9-92c4a13aa2c7",
              "name": "PHONE",
              "value": "={{ JSON.parse($json.output).PHONE }}",
              "type": "string"
            },
            {
              "id": "08960112-a04f-40da-9d68-1fa62856dc74",
              "name": "REQUIREMENT",
              "value": "={{ JSON.parse($json.output).REQUIRMENT }}",
              "type": "string"
            },
            {
              "id": "46689995-72fe-46af-9f58-77cac344a3c9",
              "name": "SESSION ID",
              "value": "={{ JSON.parse($json.output).SESSION_ID }}",
              "type": "string"
            },
            {
              "id": "f04cb4e4-4369-4bcb-9954-0d54647dce56",
              "name": "DATE",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        21792,
        11936
      ],
      "id": "b87abc99-92d9-44c0-969c-3ef785aedd49",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAcUbxmsrrZABZAGJRZAUwwX3hUX1FINlloT1RUT1AwYWNtYkNFOVdpT2ZAndFJfdThfLWlOdWxxM21tOXFhRzc2bkZAzNDFfYXFpNTZAfYjN6aFNxUjZAvSkVyZAWpwOHM4a25JZAzNGZA1pjU3RqWEJhZAnBLaVBaM093Sy1KNDlHSWRrWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n messaging_type: \"RESPONSE\",\n recipient: {\nid: $('Webhook').item.json.body.entry[0].messaging[0].sender.id\n },\nmessage: {\ntext: $json.confirmationMessage\n}\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        22480,
        11936
      ],
      "id": "69e51b5d-956f-4553-8c3f-c52f88c18fca",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fce76151-9ba1-4c3c-ae90-8a84484ff6d0",
              "name": "confirmationMessage",
              "value": "Perfect. Our team will reach out shortly. Thank you.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        22320,
        11936
      ],
      "id": "5a1bdc7d-f2bf-4ec2-b711-6afb8d002962",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAME": "={{ $json.NAME }}",
            "DATE": "={{ $json.DATE }}",
            "PHONE": "={{ $json.PHONE }}",
            "REQUIRMENT": "={{ $json.REQUIREMENT }}",
            "EMAIL": "={{ $json.EMAIL }}",
            "SESSION ID": "={{ $json[\"SESSION ID\"] }}"
          },
          "matchingColumns": [
            "SESSION ID"
          ],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PHONE",
              "displayName": "PHONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "REQUIRMENT",
              "displayName": "REQUIRMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SESSION ID",
              "displayName": "SESSION ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        21984,
        11936
      ],
      "id": "2154f2bc-27d5-4819-bf9d-5dc21ed2ae22",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2dvuvMpwQe7b0sGm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "ministral-3b-latest",
        "options": {
          "maxTokens": 200,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        21104,
        12208
      ],
      "id": "627ffc58-3edb-4da3-9aba-49df085f9131",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "JIyXgNNVOA27Zc0k",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        21456,
        11744
      ],
      "name": "Every 30 Minutes",
      "id": "0b139a47-b1d0-43b0-84df-660a1c7daff0"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414723004,
          "mode": "list",
          "cachedResultName": "PendingFollowUps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=414723004"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        21696,
        11744
      ],
      "name": "Get Pending Leads",
      "id": "528a0eb8-ee68-4115-a0ee-0193bdeff112",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2dvuvMpwQe7b0sGm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fourHoursAgo = new Date(Date.now() - 4 * 60 * 60 * 1000);\n\nconst filteredItems = items.filter((item) => {\n  const timestamp = new Date(item.json.TIMESTAMP);\n  const followUpSent = item.json.FOLLOW_UP_SENT;\n  const converted = item.json.CONVERTED;\n\n  const followUpSentBool = String(followUpSent).toLowerCase() === \"true\";\n  const convertedBool = String(converted).toLowerCase() === \"true\";\n\n  return (\n    !isNaN(timestamp.getTime()) &&\n    timestamp <= fourHoursAgo &&\n    !followUpSentBool &&\n    !convertedBool\n  );\n});\n\nreturn filteredItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21936,
        11744
      ],
      "name": "Filter 4hr+ No Conversion",
      "id": "0996a4aa-0b1d-4801-8426-d0637f112737"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "3e2d61a5-a75e-4142-808e-3e08c9e57227"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        22176,
        11744
      ],
      "name": "Any Due Follow-ups?",
      "id": "ba9c0c32-4c48-4b9d-b766-f004c6a20e07"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $json.PAGE_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAcUbxmsrrZABZAGJRZAUwwX3hUX1FINlloT1RUT1AwYWNtYkNFOVdpT2ZAndFJfdThfLWlOdWxxM21tOXFhRzc2bkZAzNDFfYXFpNTZAfYjN6aFNxUjZAvSkVyZAWpwOHM4a25JZAzNGZA1pjU3RqWEJhZAnBLaVBaM093Sy1KNDlHSWRrWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  messaging_type: \"RESPONSE\",\n  recipient: { id: $json.SENDER_ID },\n  message: {\n    text: \"Hey! Just checking in 👋\\n\\nWe noticed you were curious about what Automa Ponix can do for your business.\\n\\nIf you'd like our team to reach out and show you exactly how AI automation can help — just drop your name, email and number here.\\n\\nWe'd love to connect!\"\n  }\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        22416,
        11744
      ],
      "name": "Send Follow-up DM",
      "id": "d37a7419-7883-4a6a-bd49-9e4379fd3218"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414723004,
          "mode": "list",
          "cachedResultName": "PendingFollowUps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=414723004"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FOLLOW_UP_TIME": "={{ $now.toISO() }}",
            "FOLLOW_UP_SENT": "={{true}}",
            "SENDER_ID": "={{ $('Get Pending Leads').item.json.SENDER_ID }}"
          },
          "matchingColumns": [
            "SENDER_ID"
          ],
          "schema": [
            {
              "id": "SENDER_ID",
              "displayName": "SENDER_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PAGE_ID",
              "displayName": "PAGE_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TIMESTAMP",
              "displayName": "TIMESTAMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FOLLOW_UP_SENT",
              "displayName": "FOLLOW_UP_SENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FOLLOW_UP_TIME",
              "displayName": "FOLLOW_UP_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONVERTED",
              "displayName": "CONVERTED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        22656,
        11744
      ],
      "name": "Mark Follow-up Sent2",
      "id": "387d60b1-c118-4471-9796-5f3cbd5e9127",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2dvuvMpwQe7b0sGm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "1bab1a5d-4e45-4213-ba12-be9953291c96",
      "name": "Window Buffer Memory 1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        21200,
        12208
      ]
    },
    {
      "parameters": {},
      "id": "fa979722-728d-4cf6-a6a3-6be26651b5a4",
      "name": "Window Buffer Memory 2",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        21024,
        11904
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ $json.body.entry[0].id == \"17841480583774715\" ? 0 : 1 }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        20032,
        11904
      ],
      "id": "b878b3a2-951f-4909-985f-848f08bc9431",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pzKGoiSxKgK9WpRv",
          "mode": "list",
          "cachedResultUrl": "/workflow/pzKGoiSxKgK9WpRv",
          "cachedResultName": "veetile_vandi"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        20272,
        12016
      ],
      "id": "bd9d540a-abbe-4872-97aa-c2004239f4ab",
      "name": "Call 'veetile_vandi'",
      "disabled": true
    }
  ],
  "connections": {
    "Check DB": {
      "main": [
        [
          {
            "node": "Load Memory Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Memory Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark CONVERTED1": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Log to PendingFollowUps1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Check DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Mark CONVERTED1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Get Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Leads": {
      "main": [
        [
          {
            "node": "Filter 4hr+ No Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 4hr+ No Conversion": {
      "main": [
        [
          {
            "node": "Any Due Follow-ups?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Due Follow-ups?": {
      "main": [
        [
          {
            "node": "Send Follow-up DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up DM": {
      "main": [
        [
          {
            "node": "Mark Follow-up Sent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory 1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory 2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'veetile_vandi'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "812e57160b6cfa0488283afdc6a904b27f91c8dd7755e053008327f19ff2ef3d"
  }
}