RAG Pinecone.json
{
  "name": "Chat-Bot WorkFlow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there!\nHow can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "a8ed8116-f7c0-40d8-a5a9-089564492dc2",
      "name": "When chat message received",
      "webhookId": "6839d7a9-f102-40ea-8f80-8a3f87be490f"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. Answer questions only based on informations retrieved from the knowledge base provided to you. If the question cannot be answered from the knowledge base, \njust say: \"I'm sorry, I can only answer questions related to the provided knowledge base. I don't have information on that topic.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "7241549d-812c-40e1-9377-45514a43f2ee",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the knowledge base to find relevant information to answer user questions. Always use this tool before answering.",
        "pineconeIndex": {
          "__rl": true,
          "value": "new-index",
          "mode": "list",
          "cachedResultName": "new-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        368,
        192
      ],
      "id": "c5e2763f-80e9-4c5a-b658-632e54a0ba25",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "6byysywZxF1yjZ6N",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        352
      ],
      "id": "76b48aab-90cd-48f8-ba21-ea1bf9d5c033",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "SylgC5OGtqoabZsS",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1S7py-bURYEryJKHjzPD3UjyyRRn8lXIQQRirfJvtn5k",
          "mode": "list",
          "cachedResultName": "ChatBot-Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S7py-bURYEryJKHjzPD3UjyyRRn8lXIQQRirfJvtn5k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S7py-bURYEryJKHjzPD3UjyyRRn8lXIQQRirfJvtn5k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "USER INPUT": "={{ $('When chat message received').item.json.chatInput }}",
            "CHAT RESPONCE": "={{ $json.output }}",
            "TIME": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "TIME"
          ],
          "schema": [
            {
              "id": "TIME",
              "displayName": "TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "USER INPUT",
              "displayName": "USER INPUT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CHAT RESPONCE",
              "displayName": "CHAT RESPONCE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        0
      ],
      "id": "be095335-fa47-4db2-84ea-b88e79953bf3",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QUAeKxQHxoSLdM4Z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c46677ab-1f94-4139-a778-fee1cb4a7d31",
              "name": "output",
              "value": "={{ $('AI Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "d74c3752-f893-461b-8038-0af2ed8ff991",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        192
      ],
      "id": "d55b3fdc-5598-4a1b-a601-b381b298c35a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        192
      ],
      "id": "3b77575a-3e1b-442a-b6da-8a2512f68c93",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aLedfRZM0blklQwo",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bb0c4b3c-52ef-486a-ac9c-8da3120dfa8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe9c4a34b46a73a2b7665dc2789cf79e253a8d341c798ea67f60c08e26166775"
  },
  "id": "Yk4oyhUxFErPBBya5ww9f",
  "tags": []
}